@model IEnumerable<MotoInventory.Models.MotorcycleInfo>
@{
    ViewData["Title"] = "Motorcycle Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vehicle Inventory</h1>

<p>
    <a asp-action="Create" style="text-decoration: none !important;">
        <input type="submit" value="Add Motorcycle" class="btn btn-outline-success" />
    </a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESCNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var motorcycle in Model)
        {
        <tr class="myrow">
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => motorcycle.Make)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => motorcycle.Model)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => motorcycle.Year)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => motorcycle.ESCNumber)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => motorcycle.VINNumber)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => motorcycle.Owner)
            </td>
            <td style="vertical-align:middle">
                <a asp-action="Details" asp-route-vinNumber="@motorcycle.VINNumber" class="button-link" style="text-decoration: none !important;">
                    <input type="submit" value="Details" class="btn btn-outline-success btn-sm" />
                </a>
                <a asp-action="Edit" asp-route-vinNumber="@motorcycle.VINNumber" class="button-link" style="text-decoration: none !important;">
                    <input type="submit" value="Edit" class="btn btn-outline-primary btn-sm" />
                </a>
                <a asp-action="Delete" asp-route-vinNumber="@motorcycle.VINNumber" class="button-link" style="text-decoration: none !important;">
                    <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm" />
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>